# Django
DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=

# Database
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# JWT Settings
JWT_ACCESS_TOKEN_LIFETIME_SECONDS=
JWT_REFRESH_TOKEN_LIFETIME_SECONDS=
JWT_ROTATE_REFRESH_TOKENS=
JWT_BLACKLIST_AFTER_ROTATION=
JWT_UPDATE_LAST_LOGIN=

YANDEX_API_KEY=
